.FaqSection {
  padding: 5rem 10rem;
  color: white;

  h2 {
    padding-bottom: 2rem;
    font-weight: lighter;

    span {
      display: block;
    }
  }

  .faqLine {
    background-color: #cccccc;
    height: 0.2rem;
    margin: 2rem 0;
    width: 100%;
  }

  .question {
    cursor: pointer;
    padding: 3rem 0;
  }

  .answer {
    padding: 1rem 0;
  }

}
