.FaqSection {
  padding: 5rem 10rem;
  color: white;
  @media (max-width: 1500px) {
    padding: 5vh 2rem 2rem;
    text-align: center;
  }

  h2 {
    padding-bottom: 2rem;
    font-weight: lighter;
    @media (max-width: 1500px) {
      font-size: 3rem;
    }

    span {
      display: block;
    }
  }


  .answer {
    padding: 2rem 0;

    p {
      padding: 1rem 0;
    }
  }

}
